<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/home-style.css" rel="stylesheet" />
    <style>
        .button-ticket {
            display: flex;
            background-color: green;
            align-items: center;
            justify-content: start !important;
            width: 13vw !important;
            border-radius: 3vw;
            height: 3vw;
        }
        .navbar-light .navbar-nav .nav-link {
            color: white !important
        }
        .navbar-light .navbar-nav .nav-link:hover {
            color: yellow !important
        }
        .navbar {
            background-image: url(/Uploads/background.jpg)
        }

        .navbar-nav > li > a {
            color: white;
        }

            .navbar-nav > li > a:hover {
                color: yellow;
            }

        footer {
            background-image: url(/Uploads/background.jpg)
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <div class="navbar-brand" style="font-weight: bold; color: white">SuiPhim.Net</div>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between" style="color:white">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Lịch chiếu", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Giá vé", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav float-end">
                    @if (Session["Username"] == null)
                    {
                        <li>@Html.ActionLink("Đăng nhập", "Login", "User", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Đăng ký", "Register", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li style="display:flex;align-items:center"><a href="" style="line-height:inherit">@Session["Username"]</a></li>
                        <li>@Html.ActionLink("Đăng xuất", "Logout", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
            </div>
        </div>

    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <div class="footer container-fluid text-center" style="padding: 0; margin: 0; background-image: url(/Uploads/background.jpg)">
            <div class="fott">
                <div class="inner">
                    <p id="pageTop">
                        <a href="#"><img src="/Themes/RapChieuPhim/Content/content.v2/images/icon-top.png" alt=""></a>
                    </p>
                    <style type="text/css">
                        .visit_online {
                            color: #fff;
                            width: 100%;
                            text-align: center;
                            margin: 0 auto;
                            /*display:table;*/
                        }

                            .visit_online dl {
                                width: 50%;
                                display: table-cell;
                                text-align: center;
                                margin: 0 auto;
                            }

                            .visit_online dd {
                                padding-top: 5px;
                            }
                    </style>

                    <div class="box_left">
                        <div class="clear"></div>
                    </div>
                    <div class="down" style="margin-bottom:20px">
                        <a href=""><img src="~/Uploads/chplay.png" alt="" style="width:250px;height:75px;margin-right:10px"></a>
                        <a href=""><img src="~/Uploads/appstore.png" alt="" style="width:250px;height:75px;margin-left:10px"></a>
                    </div>
                    <p style="color:white; padding-bottom:40px">
                        Cơ quan chủ quản: NHÓM 6<br>
                        Bản quyền thuộc nhóm 6 đại học Bách Khoa Hà Nội<br>
                        Giấy phép số: 111/GP- TTĐT ngày 28/3/2023 - Chịu trách nhiệm: Ngô Thị Duyên – Quyền Giám đốc.<br>
                        Địa chỉ: 118 Kim Hoa, Quận Hai Bà Trưng, Tp. Hà Nội - Điện thoại: 0123456789
                    </p>

                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/jquery.seat-charts.js"></script>
    <script src="~/Scripts/jquery.seat-charts.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/scripts.js"></script>
</body>
</html>
