@model List<Website_Dat_Ve.Models.MovieVM>


@{
    ViewBag.Title = "Trang chủ";
}
<head>
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Home" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    body {
     /*   background-image: url(../Uploads/background-body.jpg);
        background-repeat: no-repeat;
        background-size:cover*/
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 100%;
        margin: auto;
    }

    .product-item {
        padding-top: 3vw;
    }

    .category {
        background-color: forestgreen;
    }
    .btn-success {
        padding: 0.7vw;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        margin-right: 10px;
        background-color: green;
        border-radius: 10px;
    }
    .btn-info {
        padding: 0.7vw;
        margin-left: 10px;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        border-radius: 10px;
        background-color: orangered;
    }
    .btn-info:hover {
        background-color: orange;
    }
        .btn-info:active {
            background-color: orange;
        }
</style>
<main>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="width:100%; height:600px">
                    <img src="~/Uploads/avengers-endgame-disney.jpg" alt="Images">
                </div>
                @foreach (var movieImage in Model)
                {
                    <div class="item" style="width:100%; height:600px">
                        <img src="https://apirapphimdvh.bsite.net/@movieImage.Image" alt="Images" style="height:auto">
                    </div>
                }

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <section class="product-item">

        <div class="container product-by-category" style="margin-top:1vw;">
            <div class="row">
                @foreach (var movie in Model)
                {
                    <div class="col-md-3">
                        <div class="container" style="width:100%; padding: 20px; margin-bottom: 1vw; border: 1px solid green; border-radius: 10px; background-color: whitesmoke">
                            <div class="row">
                                <img src="https://apirapphimdvh.bsite.net/@movie.Image" style="margin-bottom: 15px; width:100%; height:300px" />
                                <h4 style="font-weight:bold; color:green; height:40px">@movie.Name</h4>
                                <p style="height:70px">Diễn viên: @movie.Cast</p>
                                <p>Đạo diễn: @movie.Author</p>
                                <p style="color:red">Khởi chiếu: @movie.ReleaseDate.ToString("dd-MM-yyyy")</p>
                                <div class="container text-center" style="margin-top:10px;margin-bottom:10px">
                                    <a href="@Url.Action("Index", "MovieDetail", new {id = movie.Id })" class="btn-success">Đặt vé</a>
                                    <a href="@Url.Action("Index", "MovieDetail", new {id = movie.Id })" class="btn-info">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </section>
</main>